
<!-- Show update form only when editingProduct exists -->
<div *ngIf="editingProduct; else showList">
  <app-product-form
    (formSubmit)="updateProduct($event)"
    [product]="editingProduct"
  ></app-product-form>
  <button (click)="cancelEdit()">Cancel</button>
</div>

<!-- Else show the product list -->
<ng-template #showList>
  <app-product-form (formSubmit)="createProduct($event)"></app-product-form>

  <div class="items-list">
    <app-list-item
      (deleteItem)="deleteProduct($event)"
      (startEdit)="startEdit($event)"
      *ngFor="let item of items$ | async"
      [item]="item"
    ></app-list-item>
  </div>
</ng-template>
