<form (ngSubmit)="onSubmit()" [formGroup]="productForm">
  <input formControlName="name" placeholder="Product name" type="text" />
  <input formControlName="quantity" placeholder="Quantity" type="number" />
  <input formControlName="unitPrice" placeholder="Unit price in EUR" type="number" />
  <input formControlName="imageUrl" placeholder="Image URL" type="text" />
  <textarea formControlName="description" placeholder="Description"></textarea>
  <br>
  <button type="submit">{{ product ? 'Update' : 'Create' }} Product</button>
</form>
